<div class="mt-2">
    <nav class="flex justify-between">
        <div>
            <ul class="flex items-center gap-2">
                <li>
                   <img class="rounded-full w-16 h-16 object-cover" src="assets/me.jpg" alt="me"> 
                </li>
                <li class="text-dracula-green text-2xl">lucaspari.dev</li>
            </ul>
        </div>
        <div class="flex items-center gap-2">
            <a class="flex">
                <app-dark-mode></app-dark-mode>
            </a>
            <a>
                <img class="w-10" src="assets/brazil.png" alt="brazil">
            </a>
            <a>
                <img class="w-10" src="assets/eua.png" alt="EUA">
            </a>
        </div>
    </nav>
</div>