<div>
    <h2 class="text-3xl font-bold my-8 max-sm:text-center hidden-anima">Hello, I'm Lucas Fernando Pari</h2>
    <div class="text-justify max-sm:mx-4 hidden-anima">
        <span class="text-xl">
            I've started my journey as a software developer when I entered in college and fell in love with programming and
            solving problems. I Had the opportunity of solving major problems on logistics system that were very challenging at the time with Vue.js and MYSQL. Nowadays I'm trying to get better at React.js and Java, so my ultimate goal is to find a job vacancy that works with these technologies to improve myself.
        </span>
    </div>
</div>