.hidden-anima{
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2500ms ;
}
.hidden-no-transform{
    opacity: 0;
    transition: all 5000ms ;
}
.show{
    opacity: 1;
    transform: translateX(0);
}